<h3>Organizations {{#link-to (query-params type="organization") tagName="button"}}
      +
    {{/link-to}}</h3>
<ul>
{{#each model as |organization|}}
  <li>
    {{organization.name}}
    {{#link-to (query-params type="repository" id=organization.id) tagName="button"}}
      +
    {{/link-to}}
  </li>
  <ul>
    {{#each organization.repositories as |repository|}}
      <li>
        {{repository.name}}
        {{#link-to (query-params type="user" id=repository.id) tagName="button"}}
          +
        {{/link-to}}
      </li>
      <ul>
      {{#each repository.users as |user|}}
        <li>{{user.name}}</li>
      {{/each}}
      </ul>
    {{/each}}
  </ul>
{{/each}}
</ul>
{{outlet}}
